---
// TODO: this import doesn't work because tailwind theme config is a cjs file
// import { barley } from "tailwind.theme.config";
// TODO: add random colors
const barley = {
  colors: {
    accent: {
      deepBlack: "#16160E",
      green1: "#BED2C3",
      green2: "#47585C",
      lightPlum: "#4F455C", // in my style sheet this is called dark grey but I won't be using that name
      eggShell: "#D4DCDA",
    },
  },
};
const hexToRgb = (hex: string) => {
  const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
  return result ? {
    r: parseInt(result[1], 16),
    g: parseInt(result[2], 16),
    b: parseInt(result[3], 16)
  } : null;
};

const accentColors = barley.colors.accent;
const randomAccentColor = 
  Object.values(accentColors)[
    Math.floor(Object.values(accentColors).length * Math.random())
  ];

const rgb = hexToRgb(randomAccentColor);
const bgColor = rgb ? `rgba(${rgb.r}, ${rgb.g}, ${rgb.b}, 0.2)` : 'rgba(0, 0, 0, 0.1)';
const textColor = randomAccentColor === barley.colors.accent.eggShell ? 
  barley.colors.accent.deepBlack : randomAccentColor;

type Props = {
  tag: string;
};
const { tag } = Astro.props;
---
<a
  class="inline-block p-0.5 my-2 mx-0.5 rounded-md hover:opacity-80 transition-opacity"
  href={`/tags/${tag}`}
  title={tag}
  style={{
    backgroundColor: bgColor,
    color: textColor,
  }}
>
  #{tag.toLowerCase()}
</a>