---
import { SITE } from "$/config";
import MainLayout from "$/components/MainLayout.astro";
import BaseHead from "$/components/BaseHead.astro";
// TODO: I don't like this and I'd rather have fonts in our public folder
import "@fontsource/alfa-slab-one";
import Prose from "$/components/Prose.astro";
import { extractLinks } from "src/lib/markdownUtils";
import LineComponent from "$/components/LineComponent.astro";
import Tag from "$/components/Tag.astro";
import TableOfContents from "$/components/TableOfContents/index.svelte";
import { ArrowTl, ArrowTr } from "$/components/Icons";

const { content, rawContent, headings } = Astro.props;

console.log("headings ", headings);
const links = extractLinks(rawContent);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={content.title ? `${SITE.title} | ${content.title}` : SITE.title}
      description={content.description}
    />
  </head>
  <MainLayout>
    <div class="py-4 mb-1">
      <h1
        class="text-4xl font-display text-theme-primary dark:text-theme-dark-primary"
      >
        {content.title}
      </h1>
      <span class="text-gray-400 p-5"
        >{
          new Intl.DateTimeFormat("en-US", { dateStyle: "full" }).format(
            new Date(content.date)
          )
        }
      </span>
      <LineComponent />
      <div class="inline-flex gap-2">
        {
          content.tags.length > 0 &&
            content.tags.map((tag: string) => <Tag {tag} />)
        }
      </div>
    </div>
    <TableOfContents headings={headings} client:load>
    </TableOfContents>

    <!--<img src={content.image} alt={content.title} />-->
    <Prose>
      <slot />
    </Prose>
  </MainLayout>
</html>
